In [1]:
import pandas as pd

data = pd.read_csv("nifty50_closing_prices.csv")

print(data.head())

                        Date  RELIANCE.NS  HDFCBANK.NS  ICICIBANK.NS  \
0  2024-08-20 00:00:00+05:30  2991.899902  1637.699951   1179.449951
1  2024-08-21 00:00:00+05:30  2997.350098  1625.800049   1174.849976
2  2024-08-22 00:00:00+05:30  2996.250000  1631.300049   1191.099976
3  2024-08-23 00:00:00+05:30  2999.949951  1625.050049   1203.500000
4  2024-08-26 00:00:00+05:30  3025.199951  1639.949951   1213.300049

       INFY.NS       TCS.NS  KOTAKBANK.NS  HINDUNILVR.NS      ITC.NS  \
0  1872.199951  4523.299805   1805.650024    2751.050049  498.799988
1  1872.699951  4551.500000   1812.949951    2791.199951  505.399994
2  1880.250000  4502.000000   1821.500000    2792.800049  504.549988
3  1862.099976  4463.899902   1818.000000    2815.600098  505.799988
4  1876.150024  4502.450195   1812.500000    2821.149902  505.700012

         LT.NS  ...  HEROMOTOCO.NS   DRREDDY.NS   SHREECEM.NS  BRITANNIA.NS  \
0  3572.699951  ...    5244.399902  6965.350098  24730.550781   5765.799805
1  3596.050049  ...    5284.700195  7062.450195  24808.050781   5837.350098
2  3606.500000  ...    5329.950195  6969.049805  25012.400391   5836.799805
3  3598.550049  ...    5384.899902  6954.500000  24706.050781   5792.649902
4  3641.899902  ...    5343.750000  6943.299805  24906.449219   5796.950195

       UPL.NS  EICHERMOT.NS   SBILIFE.NS  ADANIPORTS.NS  BAJAJ-AUTO.NS  \
0  566.150024   4883.250000  1761.300049    1492.550049    9779.700195
1  568.299988   4913.549805  1800.599976    1503.500000    9852.000000
2  579.150024   4933.549805  1795.250000    1492.300049    9914.200195
3  573.700012   4898.100098  1789.300049    1491.300049   10406.450195
4  577.450012   4875.200195  1796.250000    1482.550049   10432.549805

   HINDALCO.NS
0   672.900024
1   685.599976
2   685.549988
3   685.099976
4   711.849976

[5 rows x 51 columns]